{{ define "navigation" }}
    {{ partial "nav_blog.html" . }}
{{ end }}
{{ define "main" }}

<header>
        <div class="container" style="min-height: 100vh;">

            <div class="col-lg-12">
                <h1>The Leslie Carrier Art Blog</h1>
                <h4 class="blog_phrase">Celebrating the offbeat side of art and design</h4>
                <!--<p style="font-weight:100; color:#333333;">Art <span style="color:#ee4280;">•</span> Graphic Design <span style="color:#ee4280;">•</span> Fun</p>-->
            </div>

            <div class="article-list">
            
                {{ range .Pages }}
            
               
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">                  
                        {{ .Render "li" }}                      
                    </div>
                </div>
                {{ end }}        
            </div>
        </div>
        </header>

        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}

{{ end }}