<article>
<a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" class="img-responsive img-centered"/></a>
<h1 class="li-h1" style="margin-top:0px;"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
<div class="clearfix">
    <div class="post-date text-left" style="padding-bottom:5px;">
        Posted on 
        {{ dateFormat "January 2, 2006" .Date }}
    </div>

    <p class="text-left">
      {{ if (isset .Params "summary") }}
        {{ markdownify .Params.Summary }}
      {{ else }}
        {{ .Summary }}
      {{ end }}

    </p>
</div>

<div class="read-more-container">
    <a class="btn btn-primary" href="{{ .Permalink }}">

    <div>
        Read more <span aria-hidden="true">&rarr;</span>
    </div>
    </a>
</div>
</article>