{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio_illustrations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.portfolio.illustrations.title }}{{.}}{{end}}</h2>
            </div>
        </div>
        <div class="row">
            {{ range $.Site.Data.projects_illustrations }}
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal_illustrations{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ .image_thumbnail }}" class="img-responsive">
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
